<ion-view view-title="דף חקלאי">
  <ion-content>
    <div class="list card rtled">
      <p class="item item-icon-right">
        {{profile.name}}
        <i class="icon ion-android-person"></i>
      </p>
      <p class="item item-icon-right">
        <i class="icon ion-ios-telephone"></i>
        <a ng-href="tel:{{profile.phone}}">{{profile.phone}}</a>
      </p>
      <p class="item item-icon-right">
        <i class="icon ion-home"></i>
        {{profile.full_address}}
      </p>
      <p class="item item-icon-right">
        <i class="icon ion-android-pin"></i>
        <button class="button button-balanced" browse-to="http://waze.to/?q={{profile.full_address}}">פתח ב- Waze</button>
      </p>
    </div>
    <div class="list rtled">
      <div class="item item-divider">המכירות שלי</div>
      <div class="item" ng-repeat="sale in profile.sales"><a href="#/app/sales/{{sale.id}}">{{sale.vegetables}} מכירה</a></div>
    </div>
  </ion-content>
</ion-view>
