<ion-view view-title="{{viewTitle}}">
  <ion-content>
    <div class="list rtled">
      <div ng-repeat="region in regions">
        <div ng-click="openRegion('showRegion{{region.id}}')" class="item item-divider green region item-avatar-left">
          <img src="img/icon-id-{{region.id}}.png" />
          {{region.name}}
        </div>
          <div ng-show="showRegion{{region.id}}" class="item"  ng-repeat="sale in sales | filter:{region_name: region.name}" href="#/app/sales/{{sale.id}}">
            <div class="row">
              <div class="col col-40 truncated">
                {{sale.profile.name}}
              </div>
              <div class="col col-40 truncated">
                {{sale.vegetables}}
              </div>
              <div class="col col-20">
                <a href="#/app/sales/{{sale.id}}">לפרטים</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </ion-content>
  <div ng-show="futureButton" class="bar bar-footer purple">
    <a class="title" href="#/app/future-sales">מכירות עתידיות</a>
  </div>
</ion-view>
