<ion-view view-title="מכירת ירקות ופירות">
  <ion-content class="rtled">
    <ion-list>
      <ion-item  class="green">
        <h1>{{sale.vegetables}}</h1>
      </ion-item>

      <p class="item item-icon-right">
        <i class="icon agri-calendar agri-icon"></i>
        {{sale.start_time}}, {{sale.hours}}
      </p>
      <p class="item item-icon-right">
        <i class="icon agri-user agri-icon"></i>
        {{sale.profile.name}}
      </p>
      <p class="item item-icon-right">
        <i class="icon agri-phone agri-icon"></i>
        <a ng-href="tel:{{sale.profile.phone}}">{{sale.profile.phone}}</a>
      </p>
      <p class="item item-icon-right">
        <i class="icon agri-home agri-icon"></i>
        {{sale.profile.address}}, {{sale.profile.settlement}}
      </p>
      <p class="item item-icon-right">
        <i class="icon agri-location agri-icon"></i>
        <a browse-to="http://waze.to/?q={{sale.profile.full_address}}">פתח ב- waze</a>
      </p>
      <div class="item item-divider green">מחירים ופרטים נוספים</div>
      <p class="item item-icon-right item-text-wrap">
        {{sale.about}}
      </p>
    </ion-list>
  </ion-content>
  <div ng-show="canEdit" class="bar bar-footer">
    <ion-toggle ng-model="sale.active" ng-disabled="!canEdit" toggle-class="toggle-calm" ng-change="updateSale()">פעילה</ion-toggle>
    <button class="button button-assertive pull-right" on-tap="deleteSale()">מחיקה</button>
  </div>
</ion-view>
