<ion-view view-title="אודות">
  <ion-content>
    <div class="list card rtled">

      <div class="item item-avatar">
        <img ng-src="img/ionic.png">
        <h2>אודות האפליקציה</h2>
        <p>עדכון אחרון: 16.05.2016</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="img/tractor.png">
        <p>
          האפליקציה מספקת מידע על חקלאים שמוכרים ישירות לצרכן ללא פערי תיווך. <br />
          נבנתה כפרוייקט חברתי - קהילתי בקוד פתוח<br />
          בהובלת הילה אפללו, אורלי יקואל, ישראל רוט ושלומי צדוק<br />
        </p>
        <p>
          <a href="#" onclick="window.open('http://shlomizadok.github.io/agri/', '_system', 'location=yes'); return false;">למידע נוסף וקוד המקור</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
