a {
  color: #60D1B6;
  text-decoration: underline;
}

.item-complex .item-content, .item-radio .item-content {
  text-align: right;
}

.input-label {
  text-align: right;
}

#farmer-profile-form {
  direction: rtl;
}

#farmer-profile-form .item-input, #sale-form .item-input {
  padding: 12px 16px 8px 5px;
}

#sale-form .checkbox {
  width: 1.4rem;
  height: 1.4rem;
}

#sale-form .checkbox-inline {
  width: 33%;
  float: right;
  clear: left;
}

#sale-form .clear-both {
  clear: both;
}
.rtled {
  direction: rtl;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.angular-google-map-container {
  height: 400px;
}

.green {
  background-color: #60D1B6 !important;
  color: white;
  text-align: right;
  border-width: 0px !important;
}

.item-divider.green.region {
  border-width: 1px !important;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.green h1 {
  color: white;
}


.menu .bar.bar-stable .title.title-left {
  text-align: right;
  color: white;
}

.bar.bar-stable .title.title-left {
  text-align: right;
}
.purple {
  background: #6261D2;
  color: white !important;
}

.purple a.title {
  color: white !important;
  text-decoration: none;
}

.agri-icon {
  background-position: 0px 50%;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.agri-icon.agri-map {
  background-image: url("../img/map-icon.png");
}

.agri-icon.agri-farm {
  background-image: url("../img/farm-icon.png");
}

.agri-icon.agri-future {
  background-image: url("../img/future-icon.png");
}

.agri-icon.agri-about {
  background-image: url("../img/about-icon.png");
}

.agri-icon.agri-user {
  background-image: url("../img/user-icon.png");
}
.agri-icon.agri-phone {
  background-image: url("../img/phone-icon.png");
}

.agri-icon.agri-home {
  background-image: url("../img/home-icon.png");
}

.agri-icon.agri-location {
  background-image: url("../img/location-icon.png");
}

.agri-icon.agri-ok {
  background-image: url("../img/ok-icon.png");
}

.agri-icon.agri-calendar {
  background-image: url("../img/calendar-icon.png");
}

.item .badge.rtl-badge {
  top: 16px;
  left: 32px;
  right: auto;
}
